<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>全款业务</key>
	<string>201500000001</string>
	<key>全款.赎楼</key>
	<string>201500000002</string>
	<key>商业贷款</key>
	<string>201500000003</string>
	<key>商贷.赎楼</key>
	<string>201500000004</string>
	<key>公积金.国管</key>
	<string>201500000006</string>
	<key>公积金.中直</key>
	<string>201500000007</string>
	<key>抵押消费贷款</key>
	<string>201500000009</string>
	<key>抵押贷.赎楼</key>
	<string>201500000010</string>
	<key>使用权（特）</key>
	<string>201500000011</string>
	<key>改底单（特）</key>
	<string>201500000012</string>
	<key>公证房（特）</key>
	<string>201500000013</string>
	<key>无抵押信用贷</key>
	<string>201500000014</string>
	<key>商贷.垫资</key>
	<string>201500000015</string>
	<key>公积金.市属</key>
	<string>201500000016</string>
	<key>补按揭.商贷</key>
	<string>201500000017</string>
	<key>补按揭.市属</key>
	<string>201500000018</string>
	<key>组合贷.市属</key>
	<string>201500000019</string>
	<key>组合贷.国管</key>
	<string>201500000020</string>
	<key>补按揭.国管</key>
	<string>201500000021</string>
	<key>抵押贷.垫资</key>
	<string>201500000022</string>
	<key>公积金.国管.赎楼</key>
	<string>201500000024</string>
	<key>公积金.市属.赎楼</key>
	<string>201500000025</string>
	<key>组合贷.国管.赎楼</key>
	<string>201500000026</string>
	<key>组合贷.市属.赎楼</key>
	<string>201500000027</string>
	<key>公积金.市属.垫资</key>
	<string>201500000028</string>
	<key>公积金.国管.垫资</key>
	<string>201500000029</string>
	<key>组合贷.市属.垫资</key>
	<string>201500000030</string>
	<key>组合贷.国管.垫资</key>
	<string>201500000031</string>
	<key>公积金,市属</key>
	<string>201500000032</string>
	<key>个人借款</key>
	<string>201500000033</string>
	<key>公积金.国管.贴息</key>
	<string>201500000034</string>
	<key>补按揭</key>
	<string>201500000035</string>
</dict>
</plist>
